<h3 *ngIf="eventsAct.length === 0; else event" class="text">No Available Events</h3>

<ng-template #event>
  <div>
      <app-countdown-timer [registredEvent]="eventToShow"></app-countdown-timer>
  </div>

  <div>
      form
      <form class="form">
          <div class="form__group">
              <input type="text" placeholder="Username" class="form__input" />
          </div>
          
          <div class="form__group">
              <input type="email" placeholder="Email" class="form__input" />
          </div>
          
          <div class="form__group">
              <input type="password" placeholder="Password" class="form__input" />
          </div>
          
          <button class="btn" type="button">Register</button>
      </form>
  </div>

  <!--div *ngFor="let event of eventsAct">
    <app-countdown-timer [registredEvent]="event"></app-countdown-timer>
    <mat-divider style="padding: 1%;"></mat-divider>
  </div-->
</ng-template>
