.container-timer {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.mat-card {
  width: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#countdownCard {
  background-color: rgba(0, 0, 0, 0.5) !important;
  margin: 30px;
}

.mat-card-header, .mat-card-content {
  color : rgb(238, 186, 206) !important;
}

.form-field{
  display: block
}


@media (max-width: 600px) {
  li {
    display: block;
  }
}
